@font-face {
	font-family: "norse-bold";
	src: url("../resources/fonts/Norse-Bold.otf");
}

:root {
	--color: #e6007e;
	--txt: rgb(185, 185, 185)
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: var(--txt);

	/* outline: 1px solid red; */
}

body {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	flex-wrap: wrap;
}

.left-panel {
	background: url("../resources/img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	width: 30vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left-panel-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;
	gap: 1vw;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 25vh 0;
	padding: max(1vh, 5px);
}

.logo-img {
	object-fit: contain;
	height: max(10vh, 80px);
}

.logo-name {
	font-family: norse-bold;
	color: white;
	font-size: max(8vh, 60px);
}

.left-panel p {
	text-align: center;
	margin-bottom: 3px;
}






.right-panel {
	height: 100vh;
	width: 70vw;
	background-color: rgb(31, 31, 31);
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5vh;
	flex-grow: 2;
}

.dummy-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 3vh;
	padding-left: 30px;
	margin-top: 15px;
}

.form-inputs {
	background-color: white;
	box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	gap: 0.4vh;
	padding: 0;
	text-transform: uppercase;
}

.input:focus {
	border: #e6007e 1px solid;
}

.form-inputs h2 {
	padding: 30px;
}



fieldset {
	border: none;
	display: flex;
	flex-direction: row;
	gap: 2vw;
	padding-left: 30px;
	flex-wrap: wrap;
}

fieldset:last-child {
	padding-bottom: 30px;
}

em {
	font-style: italic;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: black;
}

.input.invalid::after {
	content: "*Error";
	display: block;
	clear: both;
	color: red;
	font-size: 10px;
	text-transform: none;
}

input.invalid {
	border: 1px solid red;
}

input.valid {
	border: 1px solid green;
}

input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari/Edge */
	color: rgba(0, 0, 0, 0.2);
}


input[type="submit"] {
	padding: 10px 30px;
	background-color: var(--color);
	color: white;
	border: none;
	border-radius: 5px;
	margin: 30px;
	font-weight: bold;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
	color: var(--color);
	background-color: white;
	cursor: pointer;
}

.existing-customer-text {
	margin-left: 30px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: var(--color);
	font-style: bold;
}

@media screen and (max-width: 990px) {
	body {
		flex-direction: column;
		height: auto;
	}

	.left-panel {
		height: 15vh;
		width: 100vw;
		flex-basis: 100%;
		background-size: 100vw;
	}

	.right-panel {
		height: auto;
		width: 100vw;
		flex-basis: 100%;
	}

	.credits {
		display: none;
	}
}